.dashboard {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding: 20px;
  margin: 40px auto;
  background-color: black;
}

.loopsContainer {
  padding-bottom: 10px;
}

.separator {
  border-bottom: 1px solid #3b3b3b;
  margin: 0 0 40px;
}

@media (min-width: 768px) {
  .dashboard {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0 20px;
    margin-top: 100px;
  }

  .loopsContainer {
    flex: 0 0 54%;
    order: 4;
    padding: 40px 0 0;
  }

  .playerContainer {
    order: 1;
  }

  .newsContainer {
    order: 5;
    flex: 0 0 40%;
  }

  .separator {
    order: 3;
    flex: 1 0 100%;
    margin: 20px 0 0;
  }

  .shareContainer {
    order: 2;
    flex: 0 0 40%;
  }
}

@media (min-width: 990px) {
  .dashboard {
    margin-top: 60px;
  }
  .playerContainer {
    flex: 0 0 60%;
  }
}
