.titlePage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 850px;
  background: #111111;
  padding: 0 20px 40px;
  box-sizing: border-box;
}

.progress {
  display: flex;
  position: relative;
  flex: 0 0 120px;
  width: 120px;
  height: 120px;
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  margin: 70px auto 0;
  box-sizing: border-box;
  transition: 0.2s box-shadow;
  cursor: pointer;
}

.progress:hover {
  box-shadow: inset 0 0 0 3px #fff;
}

.progress::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  border: 20px solid rgba(255,255,255,0);
  border-left: 30px solid white;
  border-right-width: 0;
  background: none;
}

.progress.isPlaying::before {
  border-color: #fff;
  border-width: 16px;
  transform: translate(-50%, -50%);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./mz_game_rap.jpg") 50% 50% / auto 100% no-repeat;
  opacity: 0.5;
}

.body {
  margin-bottom: 66px;
  z-index: 2;
}

.title {
  text-align: center;
  font: 700 44px 'Graphik LC';
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  line-height: 1.09;
  color: #ffffff;
}

.description {
  margin: 28px auto 37px;
  font: 15px 'Graphik LC';
  line-height: 1.47;
  color: #ffffff;
  max-width: 445px;
  text-align: center;
}

.startGame {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 45px;
  margin: 0 auto;
  outline: none;
  border-radius: 2px;
  text-align: center;
  font: 500 13px 'Graphik LC';
  line-height: 1.54;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid white;
  color: black;
  background: white;
  cursor: pointer;
}

@media (max-width: 990px) {
  .titlePage {
    padding-top: 65px;
    min-height: 0;
    height: auto;
  }
  .body {
    margin-bottom: 66px;
  }
}

@media (max-width: 420px) {
  .titlePage {
    padding-top: 40px;
  }
  .body {
    margin-bottom: 40px;
  }
}

@media (max-width: 320px) {
  .titlePage {
    padding-top: 10px;
  }
  .body {
    margin-bottom: 30px;
  }
}
