.player {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 0 30px;
  min-height: 45px;
  border: 1px solid #8a8a8a;
  background: transparent;
  font: bold 12px Graphik LC, sans-serif;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: border-color .2s, color .2s;
  outline: 0;
  user-select: none;
}

.button:hover:not(:disabled):not(.active) {
  border-color: #fff;
}

.button:disabled {
  opacity: 0.5;
  color: #666;
  cursor: not-allowed;
}

.button + .button {
  margin: 0 0 0 10px;
}

.icon {
  display: inline-block;
  margin-right: 10px;
}

.active .icon {
  animation: blink 1s steps(1) infinite;
}

.recButton .icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e8615b;
}

.recButton.active {
  border-color: #e8615b;
}

.playButton .icon {
  border: 5px solid #111;
  border-left: 9px solid;
  border-right-width: 0;
  background-color: currentColor;
}

.playButton.active {
  border-color: #5d9e5d;
}

@keyframes blink {
  0% {
    opacity: 1;
    text-shadow: 0 0 7px;
  }
  50% {
    opacity: 0.3;
    text-shadow: 0 0 0;
  }
}

@media (max-width: 450px) {
  .button {
    padding: 0;
    flex: 1 0 auto;
  }
}
