.supports {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94px;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  border: solid 1px #979797;
  color: #ffffff;
  line-height: 1.6;
}

.supportsText {
  font: 900 15px "Graphik LC";
  text-align: center;
  line-height: 1.47;
}

.link {
  color: #fff;
}
