.loop {
  position: relative;
  width: 23.5%;
  width: calc((100% - 30px) / 4);
  color: inherit;
  background: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 2px;
  font: 11px Graphik LC, sans-serif;
  letter-spacing: 0.13em;
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}

.background {
  padding-bottom: 100%;
  background-color: currentColor;
  opacity: 0.55;
  transition: 0.2s opacity;
  border-radius: inherit;
}

.shot .background {
  padding-bottom: 50%;
}

.indicator {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #b3ce34;
  opacity: 0.2;
}

.indicator::after {
  content: "";
  position: absolute;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: radial-gradient(circle at 45% 45%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.5));
}

.progress {
  position: absolute;
  top: 23%;
  left: 0;
  width: 100%;
  text-align: center;
}

.shot .progress {
  width: 40px;
  height: 4px;
  top: 30%;
  left: calc(50% - 20px);
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

.name {
  position: absolute;
  bottom: 12%;
  left: 0;
  width: 100%;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  opacity: 0.4;
  transition: 0.2s opacity;
}

.loading {
  background-color: rgba(255, 255, 255, 0.7);
}

.nextOff {
  box-shadow: inset 0 0 0 4px;
}

.nextOn .indicator,
.nextOff .indicator {
  animation: blink 1s steps(1) infinite;
}

.active .background {
  opacity: 1;
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.3);
}

.active .indicator {
  opacity: 1;
  box-shadow: 0 0 9px;
}

.nextOff .name,
.active .name {
  opacity: 1;
}

@keyframes blink {
  0% {
    opacity: 1;
    box-shadow: 0 0 9px;
  }
  50% {
    opacity: 0.2;
    box-shadow: 0 0 0;
  }
}

@media (max-width: 479px) {
  .loop {
    font-size: 8px;
  }
}
